.app {
  font-size: 20px;
}

.modal-background {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal {
  border-radius: 2px;
  width: 50%;
  padding: 20px;
  padding-bottom: 20px;
  margin: 30px auto;
  transition: all 0.3s ease;
  background-color: rgb(196, 196, 196);
}

.modal__title {
  text-align: center;
  font-size: 2em;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.form__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 10px auto;
}

.field__input {
  border: none;
  width: 80%;
  height: 1.5em;
  border-radius: 5px;
}

.modal__btn-close {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.btn--without-bg {
  border: none;
  background-color: inherit;
}

.btn {
  width: 8em;
  height: 2em;
  border: none;
  border-radius: 16px;
}

.btn--center {
  margin: 1em auto;
}

.btn:hover,
.btn--without-bg:hover {
  cursor: pointer;
}

.form__color-picker {
  width: 100%;
  margin: 0 auto;
}