:root {
    --color-white: #FFFFFF;
    --color-violet: #7F56D9;
    --color-cancel: #B0AAAA;
    --color-delete: #EE1A33;
    --color-text: #A5A5A5;
    --color-line: #A5A5A5;
    --color-background: #F5F5F7;
}
